#resume {
  margin: 3rem 0;
  color: var(--second-color);
  text-align: center;
}
#resume .col-lg-4 {
  margin-bottom: 4rem;
}

.card {
  height: 105%;
  padding-top: 2rem;
}

.card-header {
  text-align: center;
  background-color: inherit;
  border-bottom: 0;
}

.resumeIcon {
  font-size: 2rem;
  text-align: center;
  background-color: var(--second-color);
  color: var(--main-color);
  border-radius: 10rem;
  padding: 1rem 0.8rem;
}

ul {
  list-style-type: none;
  font-size: 20px;
}

.card-title {
  color: #df622c;
}
