#about {
  padding: 5rem 0;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem rem;
  max-width: 100%;
  height: auto;
}
p {
  margin-bottom: 12px;
  letter-spacing: 0.6px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
#profileTitle {
  margin-bottom: 5px;
}

#profileSubtitle {
  color: rgb(110, 110, 110);
  font-weight: 500;
}
@media (min-width: 992px) {
  #profiletitle {
    font-size: 30px;
  }
  #profileSubtitle {
    font-size: 15px;
  }
  p {
    font-size: 20px;
  }
}
