.subtitle {
  margin-bottom: 0;
  font-size: 25px;
  font-weight: 500;
}

#home {
  color: rgb(237, 237, 237);
  background-image: url("../photos/mainHome.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  margin-bottom: 0px;
  font-size: 74px;
  font-weight: bold;
}

.infos {
  padding: 150px 80px;
}

.infos p {
  margin-top: -3px;
  font-size: 22px;
  margin-bottom: 12px;
  letter-spacing: 1.5px;
}

.social-item {
  display: block;
  margin: 0 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid rgb(237, 237, 237);
  color: rgb(237, 237, 237);
  text-align: center;
  line-height: 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

.social-item:hover {
  background: var(--socialIcon-color);
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .infos {
    padding: 50px 30px;
    position: relative;
    left: -80px;
  }
}

@media only screen and (max-width: 972px) {
  #home {
    max-height: 370px;
  }
}

@media only screen and (max-width: 576px) {
  #home {
    max-height: 470px;
  }
  .infos {
    padding: 30px;
    position: relative;
    left: -10px;
  }
}
@media only screen and (min-width: 768px) {
  .infos {
    position: relative;
    left: -170px;
  }
}
